textarea{
  width: 90%;
}

#divHeader
{

  position: absolute;
  height: 10%;
  width: 100%;
  
}

.hidden{
  display: none;
}

#divContent{

  position: absolute;
  margin-top: 5%;
  margin-left: 10px;
  height: 85%;
  width: 95%;
}

#labelBread{
  cursor: pointer;
}

.tableFields{
  position: relative;

  float: left;

  margin-left: 10%;

  width: 80%;
  height: 90%;

  overflow-y: scroll;

  border: 1px solid #000000;
  border-radius: 5px;
}

.rowField{
  cursor: pointer;
}

.rowField:hover{
  background: yellow;
}

.divFilter{
  position: relative;

  float: left;

  margin-left: 10%;
}

.divTypeView{
  position: relative;

  float: right;

  margin-right: 10%;
}

.divGridView{
  position: relative;

  float: left;

  margin-left: 20%;

  width: 80%;
  height: 90%;

}

.divDetailsView{

  width: 90%;
  height: 100%;

  margin-top: 20px;
  margin-left: 5%;

  padding: 5px;
}

.divImage{
  position: relative;

  float: left;
  width: 30%;
}

.divData{
  position: relative;

  float: left;
  width: 70%;
}

.divEpisodes{
  position: relative;

  float: left;
  width: 90%;

  margin-left: 5%;
  margin-top: 15px;

  padding: 10px;

  border: 1px solid #ccc;

}